# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual env
VirtualEnv/
env/
.VirtualEnv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# JSON
package.json
.package.json
package-lock.json
.package-lock.json

# node
node_modules